*{
    box-sizing: border-box;

}
body{
    margin:30px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}
label{
    display:block;
    margin-top: 10px;
    
}

label.genero,.area{
    display: inline-block;
    margin-top: 20px;

}
/* input[type="radio"] + label,
input[type="checkbox"] + label {
    display: inline-block;
    margin-top: 20px;
} */













