* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
}

h1 {
    font-family: 'Indie Flower';
}

label{
    display: block;
    margin-bottom: 20px;
    
}

input[type=text], input[type=number], input[type=email], textarea, select {
    padding: 10px;
    width: 500px;
    font-size: 15px;
    border:1px solid #ccc;
    outline: 0;
    margin-top: 5px;
}

textarea {
    height: 200px;
    resize: none;
}
.termoslink{
    color: black;
    text-decoration: none;
}

.termoslink:hover{
    text-decoration: underline;
}

button{
    padding:10px;
    font-size: 15px;
    border-radius: 10px;
    border:1px solid #ccc;
    background-color: #eee;
}
button:hover{
    background-color: #ddd;
}
legend{
    font-size:15px;
    font-weight: bold;
}
fieldset{
    border:1px solid #000000;
    border-radius: 10px;
    background-color: #eee;
}
























