
    h1 {
        color: blue;
        font-size: 30px;
    }
    p {
        color: red;
        font-size: 20px;
    }
    a {
        color: green;
        font-size: 15px;
    }
    li{
        color: purple;
        font-size: 18px;
        font-weight: bold;
    }
